img {
  height: 175px;
  width: 200px;
  padding-left: 0px;
  align-items: center;
  border: 10px rgb(66, 229, 232) solid;
  border-radius: 200px;
  margin: 0px;
}

.luna {
  position: absolute;
  right: 30px;
  top: 10px;
}
