img {
  height: 175px;
  width: 200px;
  padding-left: 10px;
  align-items: center;
  border: 2px #222 solid;
  border-radius: 200px;
  background-color: rgb(66, 229, 232);
  margin: 0px;
}

.luna {
  position: absolute;
  right: 30px;
  top: 10px;
}
