.star {
  margin: 20px;
  top: -350px;
  left: 600px;
  bottom: 250px;
  position: relative;
  display: block;
  color: rgb(247, 242, 176);
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid rgb(247, 242, 176);
  border-left: 100px solid transparent;
  -moz-transform: rotate(35deg) scale(0.4);
  -webkit-transform: rotate(35deg) scale(0.4);
  -ms-transform: rotate(35deg) scale(0.4);
  -o-transform: rotate(35deg) scale(0.4);
}

.star:before {
  border-bottom: 80px solid rgb(247, 242, 176);
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 10px;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: "";
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
}

.star:after {
  position: absolute;
  display: block;
  color: rgb(247, 242, 176);
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid rgb(247, 242, 176);
  border-left: 100px solid transparent;
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg);
  content: "";
}
